<shared-modal-style-1>

  <h4 class="header">Dodawanie transakcji</h4>

    <form class="forms">

      <div class="forms__row" *ngFor="let row of formStructure">

        <div
          class="forms__row__field"
          *ngFor="let field of row"
          [ngStyle]="{ 'width': field.width }"
        >

          <label class="forms__row__field__label" [for]="field.codeName">
            {{field.labelName}}
          </label>

          <input
            class="forms__row__field__input"
            [ngClass]="{ 'forms__row__field__input--btn': field.inputType === 'button' }"
            [id]="field.codeName"
            [placeholder]="field.displayName"
            [value]="field.defaultValue ?? ''"
            [type]="field.inputType"
          >

        </div>

      </div>

      <input (click)="closeModal.emit()" class="forms__submit" type="button" value="Zapisz">

    </form>

</shared-modal-style-1>
