<div class="backdrop"></div>

<div class="transparent-box">

  <div class="modal">

    <h4 class="modal__header">Dodawanie transakcji</h4>

    <form class="modal__forms">

      <div class="modal__forms__row" *ngFor="let row of formStructure">

        <div
          class="modal__forms__row__field"
          *ngFor="let field of row"
          [ngStyle]="{ 'width': field.width }"
        >

          <label class="modal__forms__row__field__label" [for]="field.codeName">
            {{field.labelName}}
          </label>

          <input
            class="modal__forms__row__field__input"
            [ngClass]="{ 'modal__forms__row__field__input--btn': field.inputType === 'button' }"
            [id]="field.codeName"
            [placeholder]="field.displayName"
            [value]="field.defaultValue ?? ''"
            [type]="field.inputType"
          >

        </div>

      </div>

      <input (click)="closeModal.emit()" class="modal__forms__submit" type="button" value="Zapisz">

    </form>

  </div>

</div>
