@import "src/app/shared/styles/variables";
@import "src/app/shared/styles/elements";

.wrapper {

  .header {
    font-size: 1.5rem;
    font-weight: lighter;
    text-align: center;
  }

  .forms {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__row {
      display: flex;
      gap: 15px;

      &__field {
        display: flex;
        flex-direction: column;
        gap: 3px;

        &__input {
          padding: 8px;
          border: 0;
          border-radius: 5px;
          color: $my-grey;
          background-color: $my-white;

          &--btn {
            background-color: $my-dark-blue;
            color: $my-white;
            cursor: pointer;

            &:hover { opacity: .8; }
          }
        }
      }
    }

    &__submit {
      margin: 0 auto;
      border: 0;
      border-radius: 5px;
      background-color: $my-cool-blue;
      cursor: pointer;
      color: $my-white;
      padding: 10px 20px;

      &:hover { opacity: .8; }
    }
  }

}
