@import "src/app/shared/components/modals/modal-style-1/modal-style-1.component";

.form__list {
  display: flex;
  flex-direction: column;
  gap: 5px;

  &__header, &__row {
    display: grid;
    grid-template-columns: .3fr 1fr .5fr .5fr;
    grid-column-gap: 10px;
  }

  &__header__item {
    font-size: 1.1rem;
    color: $my-cool-blue;

    &:first-child { text-align: center; }
  }

  &__row {
    margin: 10px 0;

    &__btn {
      justify-self: center;
      border-radius: 5px;
      border: 0;
      padding: 0 8px;
      background-color: rgba($my-white, .1);
      color: $my-green;
      cursor: pointer;
      transition: opacity .2s ease-in-out;
      height: 33px;

      mat-icon {
        width: 20px;
        height: 20px;
        size: 20px;
        font-size: 20px;
      }

      &--del-product { color: $my-red; }
      &:hover { opacity: .8; }
    }

    &__input {
      @include formInput;
      background-color: rgba($my-white, .5);
      color: $my-dark-blue;
      &--suspend { background-color: transparent; }
    }
  }
}

input[type=checkbox] {
  cursor: pointer;
  appearance: none;
  width: 33px;
  height: 33px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 3px groove rgba($my-white, .1);

  &:checked {
    border: 3px groove rgba($my-white, .1);
    background-color: rgba($my-cool-blue, .5);
  }
}
