<div class="container">

  <div class="header">
    <mat-icon>{{skeleton.header.icon}}</mat-icon>
    <h2>{{skeleton.header.title}}</h2>
  </div>

  <shared-buttons-bar-1
    [buttons]="skeleton.widgets"
    (btnOutput)="eventWidgetSwitch($event)"
  ></shared-buttons-bar-1>

  <shared-standalone-table-1
    [dataSource]="dataSource"
    [displayedColumns]="displayedColumns"
    [state]="initStateTable"
    (stateChange)="this.stateTable$.next($any($event))"
  ></shared-standalone-table-1>

</div>
