@import "src/app/shared/styles/variables";
@import "src/app/shared/styles/elements";

@keyframes appear {
  0% { opacity: 0; }
  100% { opacity: .2; }
}

@media (min-width: 0) {
  .container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 20px;
    column-gap: 20px;
    grid-template-areas:
      "header"
      "left-side"
      "center-top"
      "center-bottom";

    .header { @include skeletonHeader1; }

    .center-top, .center-bottom { @include templateBg1; }

    .left-side {
      grid-area: left-side;
      display: flex;
      flex-direction: column;
      padding: 0;

      &__user {
        display: flex;
        flex-direction: column;
        text-align: center;
        position: relative;
        z-index: 1;
        padding: 25px;

        &__icon { font-size: 6rem; }

        &__username {
          font-size: 1.3rem;
          padding: 0;
          color: $my-pastel-pink;
          font-weight: bolder;
        }

        &::after {
          content: '';
          border-radius: 5px;
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          opacity: .2;
          background: $my-pink-purple-linear;
          z-index: -1;
          animation: appear 2s 0s ease-in-out;
        }
      }

      &__btn-list {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        margin-top: 10px;

        &__btn { @include btnGreyTem1; }
      }
    }

    .center-top {
      grid-area: center-top;
      height: 200px;
    }

    .center-bottom {
      grid-area: center-bottom;
      height: 200px;
    }
  }
}

@media (min-width: $min-desktop) {
  .container {
    grid-template-columns: 1fr 30px 3fr;
    grid-template-areas:
    "header header header"
    "left-side center-top center-top"
    "left-side center-bottom center-bottom";
  }
}
