@import "src/app/shared/styles/variables";
@import "src/app/shared/styles/elements";

.container {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;

  .header { @include skeletonHeader1; }
}
