@import "src/app/shared/styles/variables";

@media (min-width: 0) {
  .center {
    margin: 0;
    max-width: $width-site;
  }
}

@media (min-width: $min-desktop) {
  .center {
    margin: 0 auto 100px;
  }
}
