<div class="background">

  <div class="container">

    <div class="left">

      <div class="left__up">

        <h2 class="left__up__title">
          <mat-icon>payments</mat-icon>
          Fleet app
        </h2>

        <h2 class="left__up__bait">
          Zacznij nadzorować swoje wydatki z <em>fleetami</em>!
        </h2>

      </div>

      <img class="left__logo" src="assets/images/logo.png" alt="logo statku">

    </div>

    <div class="right"><router-outlet></router-outlet></div>

  </div>

</div>
