<nav class="full-bar">

  <div class="wrapper">

    <div class="left">

      <div class="title" routerLink="/">
        <img class="title__logo" src="assets/images/logo_no_caption.png" alt="logo statku">
        <div class="title__text">Fleet App</div>
      </div>

      <div class="links">
        <a
          class="links__item"
          *ngFor="let link of skeleton.links"
          [routerLink]="link.url"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: false }"
        >{{link.name}}</a>
      </div>

    </div>

    <div class="right" [matMenuTriggerFor]="belowMenu">
      <div class="right__username">{{username}}</div>
      <fa-icon class="right__icon" [icon]="faCircleUser"></fa-icon>
    </div>

    <mat-menu #belowMenu="matMenu" yPosition="below">
      <button mat-menu-item (click)="logout()">Wyloguj się</button>
    </mat-menu>

  </div>

</nav>
