@import "src/app/shared/styles/variables";

@media (min-width: 0) {
  .full-bar {
    background-color: $my-white;

    .wrapper {
      max-width: $width-site;
      height: 60px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      box-sizing: border-box;

      .left {
        display: flex;
        gap: 10px;

        .title {
          display: flex;
          align-items: center;
          gap: 15px;
          cursor: pointer;
          position: relative;
          background-color: transparent;
          z-index: 1;

          &::after {
            content: '';
            width: 100%;
            height: 100%;
            background-color: white;
            opacity: 0;
            position: absolute;
            left: 0;
            border-radius: 5px;
            z-index: -1;
            transition: .3s ease-in opacity;
          }

          &:hover:after { opacity: 1; }

          &__logo {
            border-radius: 5px;
            width: 40px;
          }

          &__text {
            font-weight: 400;
            font-size: 1.7rem;
            color: $my-cool-blue;
            padding-right: 15px;
          }
        }

        .links {
          padding-bottom: 6px;
          display: flex;
          align-items: flex-end;
          gap: 10px;

          &__item {
            color: $my-cool-blue;
            text-decoration: none;

            &.active { opacity: .5; }
            &:visited { color: $my-cool-blue; }
            &:hover:not(.active) { color: $my-dark-blue; }
          }
        }
      }

      .right {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: space-between;
        flex-direction: row;
        cursor: pointer;
        padding: 5px 10px;
        position: relative;
        background-color: transparent;
        z-index: 1;

        &::after {
          content: '';
          width: 100%;
          height: 100%;
          background-color: white;
          opacity: 0;
          position: absolute;
          left: 0;
          border-radius: 5px;
          z-index: -1;
          transition: .3s ease-in opacity;
        }

        &:hover:after { opacity: 1; }

        &__username {
          color: $my-navy-blue;
          font-size: 1.1rem;
          font-weight: 500;
        }

        &__icon {
          color: $my-navy-blue;
          font-size: 1.7rem;
        }
      }
    }
  }
}
@media (min-width: $width-site + 40px) {
  .full-bar .wrapper { padding: 0; }
}
