<div class="container">

  <div class="top">

    <div class="top__right">
      <span class="top__right__txt">{{structureBuilderArray.register.label}}</span>
      <button class="top__right__btn">{{structureBuilderArray.register.label}}</button>
    </div>

  </div>

  <form class="form" [formGroup]="cmpForm" (ngSubmit)="login()">

    <div *ngFor="let field of structureBuilderArray.fields" class="item">

      <label [for]="field.codeName" class="item__label">{{field.labelName}}</label>

      <input
        class="item__input"
        [id]="field.codeName"
        [type]="field.inputType"
        [formControlName]="field.codeName"
        [placeholder]="field.displayName"
      >

    </div>

    <div class="form__button">
      <input class="form__button__btn" type="submit" [value]="structureBuilderArray.login.btn">
      <span class="form__button__reminder">{{structureBuilderArray.login.reminder}}</span>
    </div>

  </form>

  <div class="rights">{{structureBuilderArray.rights}}</div>

</div>
