@import "src/app/shared/styles/variables";
@import "src/app/shared/styles/elements";

.container {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .top {
    display: flex;
    justify-content: flex-end;

    &__right {

      &__txt {
        color: $my-grey;
        margin-right: 10px;
      }

      &__btn {
        @include btnLightTem2;
        background-color: $my-white;
      }

    }
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto;

    .item {
      margin: auto;
      display: flex;
      flex-direction: column;
      gap: 2px;

      &__label {
        font-weight: lighter;
        font-size: .9rem;
      }

      &__input {
        padding: 10px;
        background-color: rgba($my-white, .1);
        color: $my-white;
        border-radius: 5px;
        border: 0;
      }
    }

    &__button {
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      gap: 8px;

      &__btn {
        @include btnLightTem2;
        background-color: $my-cool-blue;
        color: $my-white;
        padding: 10px;
      }

      &__reminder {
        font-weight: lighter;
        font-size: .9rem;
        color: $my-blue-bell;
        cursor: pointer;
        text-align: right;

        &:hover { opacity: .8; }
      }
    }
  }

  .rights {
    text-align: center;
    font-size: .9rem;
    color: $my-grey;
    font-weight: lighter;
  }
}
