@import "src/app/shared/styles/variables";

::ng-deep {
  mat-paginator.mat-paginator {
    background: $my-dark-blue;
    color: $my-cool-blue;
    font-size: .9rem;
  }
}

.container {
  background-color: $my-dark-blue;
  box-shadow: $box-shadow-1;
  border-radius: 5px;
  padding: 10px 0;
  flex: 1;

  .header {
    padding: 5px 10px;

    &__searcher {
      border: 0;
      border-radius: 5px;
      background-color: rgba($my-cool-blue, .1);
      padding: 7px 15px;
      font-size: .9rem;
      color: $my-white;
    }
  }

  .table-fix {
    overflow: auto;

    ::ng-deep table.mat-table {
      table-layout: fixed;
      background-color: transparent;
      width: 100%;

      thead tr.mat-header-row.cdk-header-row.ng-star-inserted {
        font-size: 1rem !important;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        th.mat-header-cell { color: $my-white; }
      }

      tbody tr.mat-row.cdk-row.ng-star-inserted {
        border-bottom: 1px solid $my-grey;
        height: 40px;
        cursor: pointer;

        td.mat-cell {
          color: $my-grey;
          font-size: .9rem;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        &:hover { opacity: .8; }
      }
    }
  }

  .footer { margin: 10px 0 0 0; }
}
