// template colors
$my-cool-blue: rgba(0, 194, 203, 1);
$my-white: rgba(238, 229, 233, 1);
$my-white-08: rgba(238, 229, 233, .8);
$my-navy-blue: rgba(5, 10, 48, 1);
$my-dark-blue: rgba(4, 32, 67, 1);
$my-grey: rgba(159, 154, 164, 1);
$my-grey-2: rgba(24, 35, 69, 1);

// situation colors - neutral, confirm and reject
$my-light-blue: rgba(167, 219, 224, 1);
$my-green: rgba(76, 249, 151, 1);
$my-red: rgba(255, 73, 92, 1);

// complementary colors
$my-purple: rgba(231, 11, 213, 1);
$my-pastel-pink: rgba(247, 169, 168, 1);

// devices widths
$min-tablet: 500px;
$min-desktop: 769px;

// global widths
$width-site: 1440px;

// box-shadow styles
$box-shadow-1: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

// linear styles
$my-dark-blue-linear:
  linear-gradient(90deg, rgba(4, 32, 67, 1) 0%,
    rgba(4,32,67,1) 35%, rgba(5, 10, 48, 1) 100%);

$my-pink-purple-linear:
  linear-gradient(60deg, #aa9eff 0%, #9285ff 25%,
   #ff94c1 65%, #be99ff 100%);
