@import "../../../styles/variables";
@import "../../../styles/elements";

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  z-index: 50;
  opacity: .5;
}

.transparent-box {
  position: absolute;
  margin: 0 2vw;
  width: 96vw;
  height: 200px;
  top: 100px;
  left: 0;
  z-index: 100;

  .modal {
    position: relative;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 5px;
    max-width: 550px;
    z-index: 0;
    background-color: $my-white;

    &::before {
      @include bgUnderPseudoClass;
      background: $my-four-color-linear-4;
      opacity: .3;
    }

    // all elements have color dark
    color: $my-dark-blue;

    .header {
      font-size: 1.5rem;
      font-weight: lighter;
      text-align: center;
    }
  }
}

.forms {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__row {
    display: flex;
    gap: 15px;

    &__field {
      display: flex;
      flex-direction: column;
      gap: 3px;

      &__input {
        padding: 8px;
        border-radius: 5px;
        color: $my-grey-2;
        background-color: $my-white;
        box-sizing: border-box;
        border: 1px groove $my-white;

        &::placeholder { color: $my-grey; }

        &--invalid {
          border: 1px groove $my-red;
          color: $my-red;
        }

        &--btn {
          background-color: $my-dark-blue;
          color: $my-white;
          cursor: pointer;

          &:hover { opacity: .8; }
        }
      }
    }
  }
}

.bottom {
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__save {
    margin: 0 auto;
    border: 0;
    border-radius: 5px;
    background-color: $my-cool-blue;
    cursor: pointer;
    color: $my-white;
    padding: 10px 20px;

    &:hover { opacity: .8; }

    &:disabled {
      opacity: .5;
      cursor: not-allowed;
    }
  }

  &__cancel {
    font-size: .9rem;
    background-color: transparent;
    margin: 0 auto;
    border: 0;
    color: $my-red;
    cursor: pointer;

    &:hover { text-decoration: underline; }
  }
}
