<div class="wrapper">

  <form class="form" action="">

    <div class="form__row">
      <label for="username" class="form__row__label">Logowanie</label>
      <input type="text" class="form__row__input" id="username">
    </div>

    <div class="form__row">
      <label for="password" class="form__row__label">Hasło</label>
      <input type="password" class="form__row__input" id="password">
    </div>

    <div class="form__bottom">
      <button class="form__bottom__submit">Zaloguj się</button>
    </div>

  </form>

</div>
