@import "src/app/shared/styles/variables";
@import "src/app/shared/styles/elements";

@media (min-width: 0) {
  .background {
    display: flex;
    padding: 80px 0;

    .container {
      margin: auto;
      height: 500px;
      width: 800px;
      border-radius: 5px;
      display: flex;
      padding: 5px;
      position: relative;
      box-sizing: border-box;

      &::after {
        @include bgUnderPseudoClass;
        width: 100%;
        opacity: .1;
      }

      .left {
        width: 300px;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border-bottom: 3px solid $my-cool-blue;
        border-top: 3px solid $my-white;
        border-radius: 5px;
        box-sizing: border-box;

        &::before {
          @include bgUnderPseudoClass;
          background: $my-white;
          opacity: .1;
        }

        &__up {
          padding: 20px;
          display: flex;
          flex-direction: column;
          gap: 20px;
          font-size: 1.3rem;

          &__title {
            display: flex;
            align-items: center;
            color: $my-white;
            gap: 5px;
          }

          &__bait {
            font-weight: lighter;
            font-size: 1.4rem;

            em {
              font-weight: inherit;
              font-style: inherit;
              color: $my-cool-blue;
            }
          }
        }


        &__logo {
          border-radius: 5px;
          width: 250px;
        }

      }

      &__right {
        width: 500px;
        height: 100%;
      }
    }
  }
}


