@import "src/app/shared/styles/variables";
@import "src/app/shared/styles/elements";

@media (min-width: 0) {
  .background {
    display: flex;
    padding: 80px 0;

    .container {
      margin: auto;
      height: 500px;
      width: 800px;
      border-radius: 5px;
      display: flex;
      padding: 5px;
      position: relative;
      box-sizing: border-box;
      box-shadow: $box-shadow-1;

      &::after {
        @include bgUnderPseudoClass;
        width: 100%;
        opacity: .1;
      }

      .left {
        padding: 20px;
        width: 300px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-bottom: 3px solid $my-cool-blue;
        border-top: 3px solid $my-white;
        border-radius: 5px;
        box-sizing: border-box;

        &::before {
          @include bgUnderPseudoClass;
          background: $my-white;
          opacity: .1;
        }

        &__up {
          display: flex;
          flex-direction: column;
          font-size: 1.3rem;
          gap: 15px;

          &__title {
            display: flex;
            align-items: center;
            color: $my-white;
            gap: 5px;
          }

          &__bait {
            font-weight: lighter;
            font-size: 1.4rem;

            em {
              font-weight: inherit;
              font-style: inherit;
              color: $my-cool-blue;
            }
          }
        }


        &__logo {
          border-radius: 5px;
          width: 250px;
        }
      }

      .right {
        padding: 20px;
        width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__up {
          display: flex;
          justify-content: flex-end;

          &__right {

            &__txt {
              color: $my-grey;
              margin-right: 10px;
            }

            &__btn {
              @include btnLightTem2;
              background-color: $my-white;
            }

          }
        }

        &__center {
          display: flex;
          flex-direction: column;
          gap: 15px;
          margin: 0 auto;

          .item {
            margin: auto;
            display: flex;
            flex-direction: column;
            gap: 2px;

            &__label {
              font-weight: lighter;
              font-size: .9rem;
            }

            &__input {
              padding: 10px;
              background-color: rgba($my-white, .1);
              color: $my-white;
              border-radius: 5px;
              border: 0;
            }
          }

          &__button {
            margin-top: 15px;
            display: flex;
            flex-direction: column;
            gap: 8px;

            &__btn {
              @include btnLightTem2;
              background-color: $my-cool-blue;
              color: $my-white;
              padding: 10px;
            }

            &__reminder {
              font-weight: lighter;
              font-size: .9rem;
              color: $my-blue-bell;
              cursor: pointer;
              text-align: right;

              &:hover { opacity: .8; }
            }
          }
        }

        &__bottom {
          text-align: center;
          font-size: .9rem;
          color: $my-grey;
          font-weight: lighter;
        }
      }
    }
  }
}


