@import "src/app/shared/styles/variables";

.wrapper {
  max-width: 500px;
  background-color: rgba(0, 0, 0, .1);
  margin: 80px auto;
  padding: 10px 20px;

  .form {
    margin: 30px 15px;

    &__row {
      margin: 20px auto;
      display: flex;
      flex-direction: column;
      max-width: 220px;

      &__label {
        color: $my-grey;
        font-size: 1rem;
      }

      &__input {
        padding: 8px;
        background-color: $my-grey-2;
        border: 0;
        border-radius: 5px;
        color: $my-white;
      }
    }

    &__bottom {
      display: flex;
      justify-content: center;

      &__submit {
        color: $my-white;
        background-color: $my-cool-blue;
        border-radius: 5px;
        border: 0;
        padding: 8px 20px;
        cursor: pointer;

        &:disabled { opacity: .5; }
      }
    }
  }
}
