@import "../../../../styles/variables";
@import "../../../../styles/elements";

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  z-index: 50;
  opacity: .5;
}

.transparent-box {
  position: absolute;
  margin: 0 2vw;
  width: 96vw;
  height: 200px;
  top: 100px;
  left: 0;
  z-index: 100;

  .modal {
    position: relative;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 5px;
    max-width: 550px;
    z-index: 0;
    background-color: $my-white;

    &::before {
      @include bgUnderPseudoClass;
      background: $my-four-color-linear-4;
      opacity: .3;
    }

    // all elements have color dark
    color: $my-dark-blue;
  }
}
