<div class="container">

  <div class="header">
    <mat-icon>{{skeleton.header.icon}}</mat-icon>
    <h2>{{skeleton.header.title}}</h2>
  </div>

  <div class="template">

    <form class="form" [formGroup]="cmpForm">

      <div class="form__header">

        <div
          class="form__header__item"
          *ngFor="let item of skeleton.transactionHeader"
          [ngStyle]="{ 'width': item.width }"
        >

          <label class="form__header__item__label">{{item.labelName}}</label>

          <input
            class="form__header__item__input"
            [type]="item.inputType"
            [placeholder]="item.displayName"
          >

        </div>

      </div>

      <div class="form__list">

        <div class="form__list__header">

          <div class="form__list__header__item">Edytuj / Usuń</div>
          <div class="form__list__header__item">Ilość</div>
          <div class="form__list__header__item">Nazwa</div>
          <div class="form__list__header__item">Koszt</div>


        </div>

        <div class="form__list__row">

          <div class="form__list__row__item">
            <button><mat-icon>edit</mat-icon></button>
            <button><mat-icon>remove</mat-icon></button>
          </div>

          <input class="form__list__row__item__input">
          <input class="form__list__row__item__input" placeholder="nazwa">
          <input class="form__list__row__item__input" placeholder="koszt">

        </div>

      </div>


      <div class="form__bottom">

        <button
          class="form__bottom__btn form__bottom__btn--submit"
        >Zapisz</button>

        <button
          class="form__bottom__btn form__bottom__btn--remove"
        >Usuń</button>

      </div>

    </form>

  </div>

</div>
