@import "src/app/shared/styles/elements";
@import "src/app/shared/styles/variables";

@mixin formInput {
  border: 0;
  background-color: rgba($my-white, .1);
  padding: 8px;
  color: $my-white;
  border-radius: 5px;
}

input:focus { outline: none; }

.container {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;

  .header { @include skeletonHeader1; }

  .template {
    @include templateBg1;

    .form {
      display: flex;
      gap: 30px;
      flex-direction: column;

      &__header {
        display: flex;
        flex-direction: column;
        padding: 10px 0;

        &__row {
          display: flex;
          align-items: center;
          gap: 20px;

          &__item {
            display: flex;
            flex-direction: column;
            gap: 5px;
            width: 100%;

            &__input { @include formInput; }
          }
        }
      }

      &__list {
        display: flex;
        flex-direction: column;
        gap: 5px;

        &__header, &__row {
          display: grid;
          grid-template-columns: 100px 250px 80px 120px;
          grid-column-gap: 20px;
        }

        &__header__item {
          font-size: 1.1rem;
          color: $my-cool-blue;

          &:first-child { text-align: center; }
        }

        &__row {
          margin: 10px 0;

          &__options {
            display: flex;
            justify-content: space-around;
            gap: 8px;
          }

          &__input {
            @include formInput;
            &--suspend { background-color: transparent; }
          }
        }
      }

      &__bottom {
        display: flex;
        align-items: baseline;
        gap: 20px;

        &__btn {
          border: 0;
          border-radius: 5px;
          padding: 5px 10px;
          cursor: pointer;
          background-color: $my-green;
          color: $my-dark-blue;

          &--remove {
            background-color: transparent;
            color: $my-red;
          }

          &:hover { opacity: .8; }
        }
      }
    }
  }
}
