@import "src/app/shared/styles/elements";
@import "src/app/shared/styles/variables";

.container {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;

  .header { @include skeletonHeader1; }

  .template {
    @include templateBg1;

    .forms {
      display: flex;
      gap: 30px;
      flex-direction: column;

      &__header {
        display: flex;
        gap: 20px;
        flex-direction: column;
        padding: 10px 0;

        &__row {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          gap: 20px;

          &__item {
            display: flex;
            flex-direction: column;
            gap: 5px;
            width: 100%;

            &__input { @include formInput; }

            input[type=checkbox] {
              cursor: pointer;
              appearance: none;
              width: 33px;
              height: 33px;
              border-radius: 5px;
              box-sizing: border-box;
              border: 3px groove rgba($my-white, .1);

              &:checked {
                border: 3px groove rgba($my-white, .1);
                background-color: rgba($my-cool-blue, .5);
              }
            }
          }
        }
      }

      &__list {
        display: flex;
        flex-direction: column;
        gap: 5px;

        &__header, &__row {
          display: grid;
          grid-template-columns: 100px 250px 80px 120px;
          grid-column-gap: 20px;
        }

        &__header__item {
          font-size: 1.1rem;
          color: $my-cool-blue;

          &:first-child { text-align: center; }
        }

        &__row {
          margin: 10px 0;

          &__btn {
            justify-self: center;
            border-radius: 5px;
            border: 0;
            padding: 0 8px;
            background-color: rgba($my-white, .1);
            color: $my-green;
            cursor: pointer;
            transition: opacity .2s ease-in-out;
            height: 33px;

            mat-icon {
              width: 20px;
              height: 20px;
              size: 20px;
              font-size: 20px;
            }

            &--del-product { color: $my-red; }
            &:hover { opacity: .8; }
          }

          &__input {
            @include formInput;
            &--suspend { background-color: transparent; }
          }
        }
      }

      &__bottom {
        display: flex;
        align-items: baseline;
        gap: 20px;

        &__btn {
          border: 0;
          border-radius: 5px;
          padding: 8px 20px;
          cursor: pointer;
          background-color: $my-cool-blue;
          color: $my-white;
          font-size: 1rem;

          &--remove {
            background-color: transparent;
            color: $my-red;
          }

          &:hover { opacity: .8; }
        }
      }
    }
  }
}
