<div class="container">

  <div class="header">
    <mat-icon>{{skeletonHtml.header.icon}}</mat-icon>
    <h2>{{skeletonHtml.header.title}}</h2>
  </div>

  <section class="widgets">

    <app-my-card-1
      [theme]="skeletonHtml.cards.profit.theme"
      [score]="skeletonHtml.cards.profit.score"
      [genre]="skeletonHtml.cards.profit.genre"
      [percent]="skeletonHtml.cards.profit.percent"
    ></app-my-card-1>

    <app-my-card-1
      [theme]="skeletonHtml.cards.transactions.theme"
      [score]="skeletonHtml.cards.transactions.score"
      [genre]="skeletonHtml.cards.transactions.genre"
      [percent]="skeletonHtml.cards.transactions.percent"
    ></app-my-card-1>

    <app-my-card-1
      [theme]="skeletonHtml.cards.toll.theme"
      [score]="skeletonHtml.cards.toll.score"
      [genre]="skeletonHtml.cards.toll.genre"
      [percent]="skeletonHtml.cards.toll.percent"
    ></app-my-card-1>

  </section>

  <section class="shorts">

    <div class="shorts__row">
      <h2 class="shorts__row__headline">Skróty</h2>
      <button mat-icon-button><mat-icon>edit</mat-icon></button>
    </div>

    <div class="shorts__row">

      <button
        *ngFor="let btn of skeletonHtml.buttons"
        mat-raised-button
        class="shorts__row__btn"
      >
        {{btn}}
      </button>

    </div>

  </section>


  <section class="chart">

    <div class="chart__row">
      <h2 class="chart__row__headline">Bilans</h2>
    </div>

  </section>

  <section class="features">
    <div class="features__category" *ngFor="let feature of skeletonHtml.features">
      <h3 class="features__category__headline">{{feature.category}}</h3>
      <a class="features__category__item" *ngFor="let item of feature.items">{{item}}</a>
    </div>
  </section>

  <aside class="right-side"></aside>

</div>
