@import "src/app/shared/styles/variables";
@import "src/app/shared/styles/elements";
@import "src/app/shared/styles/animations";

@media (min-width: 0) {
  .container {
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 20px;
    grid-template-areas:
      "header"
      "widgets"
      "shorts"
      "chart"
      "features"
      "sidebar";

    .chart, .features { @include templateBg1; }

    .header { @include skeletonHeader1; }

    .widgets {
      grid-area: widgets;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }

    .shorts {
      grid-area: shorts;
      padding: 5px 15px;
      position: relative;
      z-index: 1;

      &::before {
        content: '';
        width: 100%;
        height: 100%;
        border-radius: 5px;
        position: absolute;
        left: 0;
        top: 0;
        background: $my-pink-purple-linear;
        opacity: .3;
        z-index: -1;
      }

      &__row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 10px 0;
        gap: 15px;

        &__btn {
          @include btnLightTem2;

          &:first-child { background-color: $my-cool-blue; }
        }
      }
    }

    .chart { grid-area: chart; }

    .features {
      grid-area: features;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      &__category {
        width: 200px;
        padding: 10px 20px;
        background-color: rgba($my-navy-blue, .2);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        gap: 5px;

        &__headline {
          color: $my-cool-blue;
          margin-bottom: 5px;
        }

        &__item {
          cursor: pointer;
          &:hover { opacity: .8; }
        }
      }
    }

    .right-side {
      grid-area: sidebar;

      .my-goals {
        @include templateBg1;

        &__list {
          margin-top: 15px;
          display: flex;
          flex-direction: column;
          gap: 25px;

          &__item {
            display: flex;
            align-items: center;

            &__percent {
              width: 30px;
              padding: 0 8px;
              text-align: left;
            }

            &__main {
              flex: 1;
              text-align: center;
              padding: 10px;
              background-color: $my-navy-blue;
              border-radius: 5px;
              position: relative;
              z-index: 1;

              &__cover {
                position: absolute;
                left: 0;
                top: 0;
                background-color: $my-purple;
                height: 100%;
                border-radius: 5px;
                z-index: -1;
                transform-origin:left center;
                animation: loading 2s 0s ease-in-out;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: $min-desktop) {
  .container {
    grid-template-columns: 3fr 30px 1fr;
    grid-template-areas:
    "header header header"
    "widgets . sidebar"
    "shorts . sidebar"
    "chart . sidebar"
    "features . sidebar";
  }
}
